spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qms_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: user
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update   # Creates tables automatically during development
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081